.footer-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    opacity: 0.3;
    justify-content: center;
    margin: 15px 0px;
    align-items: center;

    a {
        color: #FFFFFF;
        font-size: var(--font-size-footer);
    }
}